/* Заголовки первого уровня (h1) - фиолетовый цвет */
h1 {
    color: #6a0dad; /* Темно-фиолетовый */
}

/* Заголовки второго уровня (h2) - розовый цвет */
h2 {
    color: #ff69b4; /* Вулгарный розовый (Hot Pink) */
}